@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins:wght@600&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

  /* Colors */
  /* --body-color: #FFFFFF;
  --container-color: #FAFAFA;
  --first-color: #A2C587;
  --first-color-alt: #EDFFDF;
  --title-color: #353431;
  --text-color: #686764;
  --green-color: #719952;
  --white-color: #FFFAFA;
  --black-color: #1C1C1E; */

 
 body {
   font-family: "DM Sans", sans-serif;
   line-height: 1.4;
 }
 
 a {
   text-decoration: none;
 }
 
 .navbar {
   display: flex;
   background-color: rgb(228, 222, 222);
   color: black;
   /* position: sticky; */
   top: 0;
   justify-content: space-between;
   padding: 2rem;
   height: 6rem;
   z-index: 1;
 }
 
 .navbar ul {
   display: flex;
   align-items: center;
   list-style: none;
 }
 
 .navbar ul li a {
   color: black;
   padding: 0.75rem;
   margin: 0 1rem;
   border-bottom: #06133a;
 }
 
 .navbar ul li a:hover {
   color: black;
 }
 
 .navbar h1 a {
   font-family: "Poppins", sans-serif;
   color: black;
   background-color: rgb(228, 222, 222);
 }

 .navbar h1 a span{
   color: #A2C587;
 }

 
.btn {
   color: #fff;
   text-align: center;
   background-color: #A2C587;
   padding: 8px;
   border: none;
   border-radius: 7px;
 }
 
 .btn a {
   color:  #719952;
 }
 
 .btn:hover {
   color: #fff;
 }
 